{% extends 'admin.html.twig' %}

{% block admin %}
	<div class="d-flex justify-content-between align-items-center">
		<h1>Medias</h1>
		<a href="{{ path('admin_media_add') }}" class="btn btn-primary">Ajouter</a>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Image</th>
				<th>Titre</th>
				{% if is_granted('ROLE_ADMIN') %}
					<th>Artiste</th>
					<th>Album</th>
				{% endif %}
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for media in mediaList %}
				<tr>
					<td><img src="{{ asset(media.path) }}" width="75"/></td>
					<td>{{ media.title }}</td>
					{% if is_granted('ROLE_ADMIN') %}
						<td>{{ media.user.name }}</td>
						<td>{{ media.album.name ?? '' }}</td>
					{% endif %}
					<td>
						<a href="{{ path('admin_media_delete', {id: media.id}) }}" class="btn btn-danger">Supprimer</a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% include 'partials/_pagination.html.twig' with {
        basePath: 'admin_media_index',
        queryParams: {},
        page: page,
        totalPages: totalPages
    } %}

{% endblock %}