{% extends 'admin.html.twig' %}

{% block admin %}
	<div class="d-flex justify-content-between align-items-center">
		<h1>Invités</h1>
		<a href="{{ path('admin_guest_add') }}" class="btn btn-primary">Ajouter</a>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for guest in guests %}
				<tr>
					<td>{{ guest.name }}</td>
					<td>
						<div class="admin-guests-actions d-flex">
							<div class="me-3">
								<a href="{{ path('admin_guest_toggle_access', { id: guest.id }) }}" class="btn btn-warning" onclick="return confirm('Voulez-vous modifier les accès de l\'utilisateur {{ guest.name }} ?')">{{ guest.isUserAccessEnabled() ? "Désactiver l'accès" : "Activer l'accès" }}</a>
							</div>
							<div class="me-3">
								<a href="{{ path('admin_guest_delete', { id: guest.id }) }}" class="btn btn-danger" onclick="return confirm('Voulez-vous supprimer l\'utilisateur {{ guest.name }} ?')">Supprimer le compte</a>
							</div>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{% include 'partials/_pagination.html.twig' with {
		basePath: 'admin_guest_index',
		queryParams: {},
		page: page,
		totalPages: totalPages
	} %}

{% endblock %}